body {
    background-color: #696969;
}

div.top-box {
    border-radius: 7px;
    background: #A9A9A9;
    padding: 10px;
    margin: auto;
    width: 75%;
    height: 35px;
    font-size: 40px;
    box-shadow: 2px 4px;
}

div.chat-box {
    border-radius: 7px;
    background:	#32CD32	;
    padding: 10px;
    margin: auto;
    width: 75%;
    height: 35px;
    box-shadow: 2px 4px;
}